.jumbotron {
    background-color: #99E9FF;
    color: black;
    margin-top: 50px;
}
footer {
    background-color: #D9F7FF;
    padding: 10px 10px 10px 10px;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-hotel{
    flex: 1 200px;
    margin-top: 10px;
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;

}
.footer-address-icon{
    padding-right: 10px;
}
.banner {
    width: 100%;
    height: 150px;
    padding-bottom: 5px;
}
.tab-content {
    padding-top: 10px;
}