@blue: #99E9FF;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.padding(@top, @bottom, @right, @left){
    padding-top: @top;
    padding-bottom: @bottom;
    padding-right: @right;
    padding-left: @left;
}

.jumbotron {
    background-color: @blue;
    color: black;
    .margenes(50px, 3px);
}
footer {
    background-color: @blue;
    .padding(10px, 10px, 10px, 10px);
    .margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    .margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;

}
.footer-address-icon{
    .padding(0px, 0px, 10px, 0px);
}
.banner {
    width: 100%;
    height: 150px;
    .padding(0px, 5px, 0px, 0px);
}
.tab-content {
    .padding(10px, 0px, 0px, 0px);
}