$blue: #99E9FF;
$yellow: #ffee00;
$red: #ff0000;
$green: #00ff0d;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

@mixin padding($top, $bottom, $right, $left){
    padding-top: $top;
    padding-bottom: $bottom;
    padding-right: $right;
    padding-left: $left;
}

.jumbotron {
    background-color: $blue;
    color: black;
    @include margenes(50px, 3px);
}
footer {
    background-color: $blue;
    @include padding(10px, 10px, 10px, 10px);
    @include margenes(10px, 0px);
}

.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;

}
.footer-address-icon{
    @include padding(0px, 0px, 10px, 0px);
}
.banner {
    width: 100%;
    height: 150px;
    @include padding(0px, 5px, 0px, 0px);
}
.tab-content {
    @include padding(10px, 0px, 0px, 0px);
}