.jumbotron {
  background-color: #99E9FF;
  color: black;
  margin-top: 50px;
  margin-bottom: 3px;
}
footer {
  background-color: #99E9FF;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reserva {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 0px;
}
.banner {
  width: 100%;
  height: 150px;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 0px;
  padding-left: 0px;
}
.tab-content {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-left: 0px;
}
